<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyMesh</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Draw Polygon</h1>
    <p>Click on the canvas to define polygon vertices. When finished, press "Finish Polygon".</p>

    <canvas id="myCanvas" width="800" height="600"></canvas>
    <br/>
    <button id="finishBtn">Finish Polygon</button>
    <button id="clearBtn">Clear Canvas</button>

    <script src="static/script.js"></script>
</body>
</html>
